#homepage-workers-list .psgContainer span {
  color: #6e6e6e;
}
#homepage-workers-list .psgContainer .number {
  font-weight: 800;
  font-size: 50px;
}
#homepage-workers-list .showcase li {
  list-style: none;
  font-size: 22px;
}
