#homepage-workers-list {
.psgContainer {
  span {
    color: #6e6e6e;
  }
  .number {
    font-weight: 800;
    font-size: 50px;
  }
}
.showcase {
  li {
    list-style: none;
    font-size: 22px;
  }
}
}