#homepage-workers-list .psgContainer span {
  color: #6e6e6e;
}
#homepage-workers-list .showcase {
  font-family: 'FZYaSong';
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#homepage-workers-list .showcase li {
  list-style: none;
  font-size: 32px;
  font-weight: 800;
}
@media screen and (max-width: 900px) {
  #homepage-workers-list .showcase {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 550px) {
  #homepage-workers-list .showcase {
    grid-template-columns: repeat(1, 1fr);
  }
}
